// text color

$primaryColor1: #2c2951;
$primaryColorButton: #50a3f5;
$primaryColorText: #535353;
$primaryColorHeading: #3e3e3e;


// font family
$primaryFontfamily: 'Roboto', sans-serif;

// font size

$primary14: 14px;
$primary16: 16px;
$primary18: 18px;
